@import
  "../bower_components/foundation/scss/normalize.scss",
  "../bower_components/foundation/scss/foundation.scss";

// Optional IE 8 Grid Styles
// @import url("../bower_components/viking-base/css/foundation-ie8/ie8-grid-foundation-4.css");

// set colors
$orange: #faa73f;
$ltorange: #fecd67;

// global/shared styles
a {
  color: $orange;
  transition: color .3s;
  &:hover {
    color: #000;
  }
}

// application layout
body {
  background: #f0f0f0 url(img/bg-texture.png) repeat;
  position: relative;
  color: #333; 
}

header {
  width: 100%;
  padding: 0;
  margin: 0 0 15px;
  transition: all .3s;

  .fixed-nav & {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
    background: rgba(255,255,255,.9);
    box-shadow: 0px 5px 5px rgba(0,0,0,.1);
  }

  nav {
    max-width: 62.5rem;
    margin: 0 auto;

    a {
      width: 11%;
      float: left;
      padding: 10px 0 10px 5px;
      margin-right: 2%;
      transition: all .3s;

      &:hover,
      &.current {
        color: darken($orange, 15%);
        border-bottom: 3px solid darken($orange, 15%);
        padding-bottom: 7px;
      }
      
    }

  }

}

footer {
  padding: 12px 0;
  margin: 25px auto 0;
  position: relative;
  border-top: 1px solid #111;
  color: #ccc;
  font-size: 12px;
  background: #333 url(img/bg-footer.png) repeat;
  &:before {
    content: "";
    border-top: 1px solid #777;
    position: absolute;
    top: 0;
    display: block;
    width: 100%;
  }
}
