{{#link-to 'journal.entry' post.id}}
  <article class="journal-grid-item">
    <div class="post-image">
      <img src="{{post.headerImage}}" />
    </div>
    <div class="post-info">
      <h2>{{post.title}}</h2>
      <hr>
      {{post.created}} {{!--#if category}}| {{category}}{{/if--}}
    </div>
    <div class="post-icon">
      <span class="icon-uniE600"></span>
    </div>
  </article>
{{/link-to}}