<div class="large-12 entry-header">
  {{entry-header post=post}}
</div>
<div class="large-12 entry-excerpt">
  {{{post.excerpt}}}
</div>
{{!--<div class="large-12 entry-taxonomy">
  {{#if tags}}
    {{partial "tags"}}
  {{/if}}
</div>--}}