<article>
  <div class="large-12 entry-header">
    {{partial "entry-header"}}
  </div>
  <div class="large-12 entry-excerpt">
    {{{excerpt}}}
  </div>
  {{!--<div class="large-12 entry-taxonomy">
    {{#if tags}}
      {{partial "tags"}}
    {{/if}}
  </div>--}}
</article>