<header>
  <nav class="row">
    <div class="large-12 columns">
      {{#link-to "index" class="logo large-1 medium-1 small-2"}}<img src="img/er-mark-full.png" width="35">{{/link-to}}
      {{!--#link-to 'work'}}Work{{/link-to--}}
      {{#link-to "journal" class="large-1 medium-2 small-3"}}Journal{{/link-to}}
      {{#link-to "about" class="large-1 medium-2 small-3"}}About{{/link-to}}
      {{#link-to "contact" class="large-1 medium-2 small-3"}}Contact{{/link-to}}
    </div>
  </nav>
</header>

<section class="primary">
  {{outlet}}
</section>

<footer>
  <div class="row">
    <div class="large-3 small-8 small-push-2 medium-4 medium-push-0 columns">
      <img src="img/er-large.png">
    </div>
    <div class="large-4 medium-6 small-8 medium-pull-0 small-pull-2 columns">
      <p>Built on <a href="http://www.emberjs.com" target="_blank">Ember.js</a> and constructed mercilessly from <a href="https://github.com/jneurock/viking-base" target="_blank">Viking Base</a>; Source available on <a href="http://www.github.com/evrowe/er-3" target="_blank">Github</a></p>
      <p>Hosted on <a href="http://www.mediatemple.com" target="_blank">MediaTemple (gs)</a> with continuous integration via <a href="http://www.codeship.com" target="_blank">Codeship</a></p>
      <p>&copy;2014 Evan Rowe</p>
    </div>
  </div>
</footer>
