<h1>How to Reach Me</h1>
<blockquote>"I'm entirely too easy to google."</blockquote>

<p>That being said, some specific links may be more useful to you:</p>
<ul>
  <li><a href="http://www.twitter.com/ev_rowe">@ev_rowe</a></li>
  <li><a href="http://www.github.com/evrowe">GitHub</a></li>
  <li><a href="http://www.linkedin.com/in/evrowe">LinkedIn</a></li>
  <li><a href="http://www.instagram.com/ev_rowe">Instagram</a></li>
  <li>er[at]evan-rowe[dot]com</li>
</ul>

<p><a href="../content/evan-rowe-resume-2012.pdf">My Resume</a>, for those interested.</p>
