{{! <img src="./img/home-02.jpg"> }}

<section class="row greeting" id="greeting">
  <div class="large-12 columns">
    <h1>Hello.</h1>
    <h2>My name is Evan.</h2>
    <h2>This is some of my recent work.</h2>
  </div>
</section>

<section class="row" id="work">
  {{#each model as |project|}}
    {{work-project project=project}}
  {{/each}}
</section>