<div class="row content-section entry-list">
  <div class="medium-10 medium-push-1 large-9 large-push-0 columns">
    <h1>Notes</h1>
    <h4 class="subheader">(alternatively: "Scribblings," "Things Nobody Will Read)"</h4>

    {{#each}}
      {{partial "journal-item"}}
    {{/each}}
  </div>
</div>