@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?ukhb1e');
	src:url('../fonts/icomoon.eot?#iefixukhb1e') format('embedded-opentype'),
		url('../fonts/icomoon.woff?ukhb1e') format('woff'),
		url('../fonts/icomoon.ttf?ukhb1e') format('truetype'),
		url('../fonts/icomoon.svg?ukhb1e#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	padding-right: 5px;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-uniE600:before {
	content: "\e600";
}
.icon-tag:before {
	content: "\e603";
}
