<header class="row">
  <nav class="large-12 columns">
    {{#link-to 'caseStudies'}}case studies{{/link-to}}
    {{#link-to 'journal'}}journal{{/link-to}}
    {{#link-to 'index'}}HOME{{/link-to}}
    {{#link-to 'about'}}about{{/link-to}}
    {{#link-to 'contact'}}contact{{/link-to}}
  </nav>
</header>

<section class="row">
  <div class="large-12 columns">
    {{outlet}} 
  </div>
</section>

<footer class="row">
  <nav class="large-12 columns">
    &copy;2014 Evan Rowe. Built on <a href="http://www.emberjs.com" target="_blank">Ember.js</a> and constructed mercilessly from <a href="https://github.com/jneurock/viking-base">Viking Base</a>.
  </nav>
</footer>
