h1,
h2,
h3,
h4,
h5,
h6 {
  color: #333;
  font-family: "Din Bold";
  font-weight: normal;

  .subheader {
    color: #555;
    font-family: "Helvetica", "Arial", sans-serif;
  }
}

.h1 {
  font-size: 2.75rem;
  margin-bottom: 0.2em;

  &.subheader {
    font-size: 2.2rem;
  }
}

.h2 {
  font-size: 2.3125rem;
  margin-bottom: 0.2em;

  &.subheader {
    font-size: 1.85rem;
  }
}

.h3 {
  font-size: 1.6875rem;
  margin-bottom: 0.2em;

  &.subheader {
    font-size: 1.35rem;
  }
}

.h4 {
  font-size: 1.4375rem;
  margin-bottom: 0.2em;

  &.subheader {
    font-size: 1.15rem;
  }
}

.h5 {
  font-size: 1rem;
  margin-bottom: 0.2em;

  &.subheader {
    font-size: 0.8rem; }
}

.h6 {
  font-size: 0.75rem;
  margin-bottom: 0.2em;

  &.subheader {
    font-size: 0.6rem;
  }
}

blockquote {
  background-color: #dadada;
  border-left: 5px solid darken($orange, 10%);
  border-radius: 3px;
  border-top: none;
  font-family: "Georgia", "Times", serif;
  font-style: italic;
  padding-bottom: 1px;

  p {
    color: #444444;
    font-size: 1.25rem;
  }
}

ul li ul,
ul li ol,
ol li ul,
ol li ul {
  margin-left: 1.4rem;
}

code {
  border-radius: 3px;
  //color: lighten(red, 20%);
  color: $orange;
}

pre {
  background-color: $code-color;
  border-radius: 3px;
  color: $code-background-color;
  font-family: $code-font-family;
  font-weight: $code-font-weight;
  margin-bottom: 1.5rem;
  padding: .5rem;

  code {
    background-color: transparent;
    border-color: transparent;
    border-width: 0;
    color: $code-background-color;
  }
}