// application layout
body {
  background: #f0f0f0 url(../img/style/bg-texture.png) repeat;
  color: #333;
  position: relative;
}

header {
  background: $white;
  border-bottom: 1px solid #ccc;
  margin: 0;
  padding: 0;
  transition: all .3s;
  width: 100%;

  nav {
    margin: 0 auto;
    max-width: 62.5rem;

    a {
      border-bottom: 4px solid $white;
      color: $orange;
      float: left;
      font-family: "Din Bold";
      font-size: 18px;
      margin-right: 2%;
      padding: 15px 0 11px 5px;
      text-transform: uppercase;
      transition: all .2s;

      &.logo {
        border-bottom: 0;
        margin-right: 0;
        padding-bottom: 0;
        padding-top: 6px;
      }

      &:hover,
      &.active {
        border-bottom-color: darken($orange, 15%);
        color: darken($orange, 15%);
      }

    }

  }

}

footer {
  background: #333 url(../img/style/bg-footer.png) repeat;
  border-top: 1px solid #111;
  color: #ccc;
  margin: 55px auto 0;
  padding: 15px 0 0;
  position: relative;

  &:before {
    border-top: 1px solid #777;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
  }

  p {
    font-size: 14px;
    line-height: 1.25rem;
  }

  a {
    color: $orange;
  }

  a:hover {
    color: #ffffff;
  }

  .large-logo {
    background: url(../img/er-large.png) top center no-repeat;
    background-size: 100% auto;
    -moz-background-size: 100% auto;
    -webkit-background-size: 100% auto;
    -o-background-size: 100% auto;
    height: 180px;
    margin: 0 auto;
    margin-bottom: 15px;
    width: 300px;
  }

}

.content-section {
  margin-top: 35px;
}