.display-style {
  line-height: 4rem;

  .toggle-button {
    border-radius: 3px;
    cursor: pointer;
    margin-right: 5px;
    padding: 5px;
    transition: background-color .3s;

    &:hover,
    &.active {
      color: #fff;
    }

    &:hover {
      background-color: lighten($orange, 15%);
    }

    &.active {
      background-color: $orange;
    }
  }
}

.entry-list hr {
  margin-top: 0;
}

.journal-grid-item {
  background-color: desaturate(darken($orange, 10%), 15%);
  color: #ffffff;
  cursor: pointer;
  height: 210px;
  margin-bottom: 25px;
  overflow: hidden;
  position: relative;
  transition: background-color .3s;

  .post-image {
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;

    &:before {
      background-image: -webkit-gradient(
        linear,
        left top,
        right bottom,
        color-stop(0.4, $orange),
        color-stop(1, lighten($orange, 15%))
      );
      background-image: -o-linear-gradient(right bottom, $orange 40%, lighten($orange, 15%) 100%);
      background-image: -moz-linear-gradient(right bottom, $orange 40%, lighten($orange, 15%) 100%);
      background-image: -webkit-linear-gradient(right bottom, $orange 40%, lighten($orange, 15%) 100%);
      background-image: -ms-linear-gradient(right bottom, $orange 40%, lighten($orange, 15%) 100%);
      background-image: linear-gradient(to right bottom, $orange 40%, lighten($orange, 15%) 100%);
      content: "";
      display: block;
      height: 100%;
      width: 100%;
      opacity: .4;
      position: absolute;
      transition: opacity .3s;
    }

  }

  &:hover {
    background-color: #333333;

    .post-image:before {
        opacity: 0;
    }
  }

  .post-info {
    color: #ffffff;
    padding: 5px 10px;
    position: relative;
    z-index: 5;

    h2 {
      color: #ffffff;
      font-size: 26px;
      line-height: 2rem;
      text-shadow: 1px 1px 3px #222;
    }

    hr {
      margin: .5rem 0 .75rem;
    }
  }

  .post-icon {
    bottom: 10px;
    font-size: 1.75rem;
    position: absolute;
    right: 5px;
    z-index: 10;
  }

}